{% extends 'admin/admin_base.html'%}
{% block content %}
{% if qrcodes %}
<div class="container-sm mt-5 "  style="max-width:960px;" >
    <div class="col-lg-5 bg-white border border-secondary">
        <div class="label p-2 ">
            <h5  class="form-label text-muted"><i class="fa-solid fa-qrcode"></i> QRCODE</h5>
        </div>
        <div class="bg-secondary  p-2"></div>
        <center>
            <div class="   "  style="max-width:960px;" >
                {% for qrcode in qrcodes %}
                <div class="card "  >
                    {% if qrcode.QRCODE %}
                    <img class="img-fluid" src="{{ qrcode.QRCODE.url }}" alt="QR Code">
                    {% else %}
                    No QR Code
                    {% endif %}
                    <div class="card-body">
                        <h3 >{{ qrcode.QRCODE_Name }} </h3>
                        <small class="float-end"><a href="{% url 'admin_edit_QRCODE' id=qrcode.id %}"><i class="fa-solid fa-pen-nib"></i> Edit</a></small>

                    </div>
                </div>
                {% endfor %}
            </div>
        </center>
    </div>
</div>
{% else %}
<div class="container-sm mt-5 "  style="max-width:960px;" >
    <div class="row justify-content-between m-3">

        <div class="col-md-5 ">
            <div class="label p-2 bg-white border border-secondary">
                <h5  class="form-label text-muted"><i class="fa-solid fa-qrcode"></i> QRCODE</h5>
            </div>
            <div class="bg-secondary  p-2"></div>
            <form method="POST" enctype="multipart/form-data" class="form-control form-control-lg border border-secondary rounded-0" >
                {% csrf_token %}
                <center>
                    <div class="  m-3">
                        <div class="  row">
                            <h1 class="col-12 mb-2">
                                Gcash
                            </h1>
                        </div>
                        <div class="row border-0 ">
                            <center class="m-0 p-0">
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="label">
                                    <label class="form-label">Upload Image</label>
                                </div>
                                <input class="form-control" type="file" id="formFile" name="QRCODE">
                                <p  class="alert alert-danger p-2 mt-2" id="img_error"  style=" display: none;" >File is not an image</p>
                            </center>
                        </div>
                        <br>
                        {% if form.errors %}
                        <div class="alert alert-danger fs-6 ">
                            {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <strong>{{ field }}:</strong> {{ error }}<br>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-secondary my-3">Create</button>
                    </div>
                </center>
            </form>
        </div>
    </div>
</div>
{% endif %}


<script type="text/javascript">

document.getElementById('submit_form').addEventListener('submit', function(event) {
  // Get the selected file from the input field
  var fileInput1 = document.getElementById('formFile');
  var file1 = fileInput1.files[0];

  // Check if the file is an image
  if (file1 && !file1.type.match('image.*')) {
    // If the file is not an image, show the error message
    document.getElementById('img_error').style.display = 'block';
    event.preventDefault(); // prevent the form from submitting
  }

});
</script>

<script>
  // set the value of the input field with ID "qrcode-name"
  $('#qrcode-name').val('Gcash');
</script>
{% endblock %}




