{% load custom_filters %}
{% block content %}
<h1 style="font-size:18px;">{{ title }} <span style="color: gray;">Tenants Report</span></h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col-auto"  >ID</th>
    <th scope="col"  >Tenant</th>
    <th scope="col"  >Age</th>
    <th scope="col"  >Contact</th>
    <th scope="col"  >Guardian</th>
     <th scope="col"  >Guardian Contact</th>
  </tr>
  </thead>
  <tbody id="firstt">
  {% for queryset in info %}
  <tr>
    <th scope="row">{{ queryset.id }}</th>
    <td>{{ queryset.user.first_name }} {{ queryset.user.last_name }}</td>
     <td>{{ queryset.tenant_age }} </td>
    <td>{{ queryset.contact_number }} </td>
    <td>{{ queryset.guardian_name }} </td>
    <td>{{ queryset.guardian_contact_number }} </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br><br>
<table>
  <tbody id="secondt" style="font-size:13px;">
  <tr>
    <td>No. of Tenants:</td>
    <th scope="row"> {{ count  }}</th>
    <td> </td>
    <td> </td>
  </tr>
    </tbody>
</table>
<hr>
{% endblock %}

<style>
    table { -pdf-keep-with-next: true; }
    p { margin: 0; -pdf-keep-with-next: true; }
    p.separator { -pdf-keep-with-next: false; font-size: 6pt; }
    thead tr {
      background-color:#D5D8DC;
      padding:3px;
    }

    #firstt tr {
      background-color: #f1f1f1;
      padding:3px;
    }
    th {
      text-align: left;
    }
</style>