{% extends 'admin/admin_base.html'%}
{% load static %}
{% block content %}
<div class="container-sm    py-5  mb-5 bg-body rounded-0" >
    <div class="card mb-3 border-0  w-100 p-4" >
        <h2 class="d-inline card-title m-0 text-muted ">
            Room {{ room.id }}
            <span class="badge bg-primary float-end">Occupied {{user_count}}/{{room.Room_Type.Room_Capacity}}</span>
        </h2>
        <hr>
        {% if messages %}
        <div class="alert alert-success mt-1 mb-2 mb-1" role="alert">
            {% for message in messages %}
            <li {% if message.tags %} {{ message.tags }} {% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row ">
            <div class="col-lg-6 ">
                {% if not room.Room_Type.Room_Image  %}
                <img src=" {% static 'default/no_image.jpg' %}" class="card-img-top img-fluid img-thumbnail  border-0 " alt="...">
                {% else %}
                <img src=" {{ room.Room_Type.Room_Image.url }}" class="img-thumbnail  border-0 " alt="...">
                {% endif %}


            </div>
            <div class="col-lg-6 p-0">


                <div class="card-body text-start">
                    <div class="row ">
                        <h3><strong> ₱ {{ room.Room_Type.Room_Price|floatformat:2 }} / <small>month</small></strong></h3>
                    </div>
                    <div class="row mt-2 mb-4">
                        <div class="col-auto">
                            <h5 class="text-muted">Occupant:</h5>
                        </div>
                        <div class="col-auto">
                            <h5>
                                {% for user in room.user.all %}
                                <span class="badge bg-opacity-10"  style="color:#0E6655; background-color: #D0ECE7;  ">{{ user.get_full_name }}</span>
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </h5>
                        </div>
                    </div>
                    <div class=" bg-opacity-10 p-3">
                        <div class="row mb-1">
                            <label  class="col-6 col-form-label">Room</label>
                            <div class="col-6 ">
                                <input type="text" class="form-control border-0"  value="{{ room.id }} " readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label  class="col-6 col-form-label">Floor</label>
                            <div class="col-6">
                                <input type="text" class="form-control border-0" value="{{ room.Floor_Number }} " readonly >
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label  class="col-6 col-form-label">Type</label>
                            <div class="col-6">
                                <input type="text" class="form-control border-0"  value="{{ room.Room_Type }}" readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label  class="col-6 col-form-label">Capacity</label>
                            <div class="col-6">
                                <input type="text" class="form-control border-0" value="{{ room.Room_Type.Room_Capacity }} " readonly >
                            </div>
                        </div>
                    </div>
                    <div class="bg-secondary bg-opacity-10 p-3 ">
                        <div class="row mb-1 ">
                            <small class="d-block p-2 ps-2">Description </small>
                            <span class="d-block ps-2 pb-2 pt-0 pe-2">  {{ room.Room_Type.Room_Description }}</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row ">

            {% for payment in payments %}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="{% url 'payment_admin' id=payment.id %}" style="text-decoration: none;  ">
                    {% include 'admin/room_occupied_details2_admin.html' %}
                </a>
            </div>
            {% empty %}
            <p>No payments found for this room.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}