{% extends 'admin/admin_base.html'%}
{% load static %}
{% block content %}
<div class="container-sm mt-5"  style="max-width:960px;">
    <div class="container-sm  bg-body p-0"   >
        <h2 class="card-title m-0 p-3 text-muted ">Create Room Type</h2>
        <div class="bg-secondary p-2"></div>
        <div class="container p-3">
            <form class="row g-3" id="submit_form" method="POST" enctype="multipart/form-data" class="form-control form-control-lg ">
                {% csrf_token %}
                <div class="col-lg-4 ">
                    <div class="label">
                        <label   class="form-label">Name</label>
                    </div>
                    {{form.room_legend}}
                </div>
                <div class="col-lg-4 ">
                    <div class="label">
                        <label   class="form-label">Capacity</label>
                    </div>
                    {{form.Room_Capacity}}
                </div>
                <div class="col-lg-4 ">
                    <div class="label">
                        <label   class="form-label">Price</label>
                    </div>
                    {{form.Room_Price}}
                </div>
                <div class="col-12     ">
                    <div class="label">
                        <label   class="form-label">Description</label>
                    </div>
                     <textarea class="form-control form-control-sm p-2" aria-label="With textarea" type="text"
                          rows="2" cols="1"   onkeypress="auto_grow(this);" onkeyup="auto_grow(this);"
                          style="resize:none; overflow:hidden;" maxlength="500" required name="Room_Description"></textarea>
                </div>
                <div class="col-12 col-lg-4 mt-4">
                    <div class="label">
                        <label class="form-label">Upload Image</label>
                    </div>
                    <input class="form-control" type="file" id="formFile" name="Room_Image" required>
                    <p  class="alert alert-danger p-2 mt-2" id="img_error"  style=" display: none;" >File is not an image</p>
                </div>
                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-secondary  ">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
document.getElementById('submit_form').addEventListener('submit', function(event) {
  // Get the selected file from the input field
  var fileInput1 = document.getElementById('formFile');
  var file1 = fileInput1.files[0];

  // Check if the file is an image
  if (file1 && !file1.type.match('image.*')) {
    // If the file is not an image, show the error message
    document.getElementById('img_error').style.display = 'block';
    event.preventDefault(); // prevent the form from submitting
  }

});
</script>
{% endblock %}