{% extends 'admin/admin_base.html'%}
{% block content %}
<div class="container-sm mt-5"  style="max-width:960px;  ">
    <form   method="POST" id="submit_form"   >
        {% csrf_token %}
        <div class="row  bg-body py-3 py-5 border">
            <div class="col-md-7  mx-auto">
                <div class="form-floating ">
                    <h1 class="text-muted d-inline "><i class="fa-solid fa-user-plus"></i> New User</h1>
                    <div class="bg-secondary mt-3 p-2"></div>
                </div>
                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form-floating m-1 ">
                    <input type="text" for="floatingPlaintextInput"class="form-control  rounded-0" id="floating1"
                           name="username" maxlength="10" required>
                    <label for="floating1"  >Username </label>
                </div>
                <div class="form-floating m-1  ">
                    <input type="text" for="floatingPlaintextInput"class="form-control rounded-0 text-capitalize" id="floating2"
                           name="first_name" maxlength="15" required>
                    <label for="floating2"  >First Name</label>
                </div>
                <div class="form-floating m-1 ">
                    <input type="text" for="floatingPlaintextInput"class="form-control rounded-0 text-capitalize" id="floating3"
                           name="last_name" maxlength="15" required>
                    <label for="floating3"  >Last Name</label>
                </div>
                <div class="form-floating  m-1 mt-4">
                    <input type="email" for="floatingPlaintextInput"class="form-control rounded-0" id="floating4"
                           name="email" required>
                    <label for="floating4"  >Email address</label>
                </div>
                <div class="form-floating  m-1 ">
                    <input type="password" for="floatingPlaintextInput"class="form-control rounded-0" id="floating5"
                           name="password1" required>
                    <label for="floating5"  >Password</label>
                </div>
                <div class="form-floating  m-1 ">
                    <input type="password" for="floatingPlaintextInput"class="form-control rounded-0" id="floating6"
                           name="password2" required>
                    <label for="floating6"  >Confirm Password</label>
                </div>
                <div class="form-floating  m-1 ">
                    {% if form.errors %}
                    {% else %}
                    <div class="alert alert-warning">
                        <ul>
                            <li>
                                Password and Confirm Password must match.
                            </li>
                            <li>
                                Password must contain at least 8 characters.
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="form-floating  m-1 mt-4">
                    <input type="number" for="floatingPlaintextInput"class="form-control rounded-0" id="floating7"
                           name="contact_number"  required>
                    <label for="floating7"  >Contact</label>
                </div>
                <div class="form-floating  m-1">
                    <input type="number" for="floatingPlaintextInput"class="form-control rounded-0" id="floating8"
                           name="tenant_age" required>
                    <label for="floating8"  >Age</label>
                </div>
            </div>
            <div class="col-md-7 mx-auto ">
                <div class="form-floating ">
                    <h3 class="text-muted mt-3">Guardian</h3>
                </div>
                <div class="form-floating m-1 ">
                    <input type="text" for="floatingPlaintextInput"class="form-control rounded-0 text-capitalize" id="floating9"
                           name="guardian_name" required>
                    <label for="floating9"  >Name</label>
                </div>
                <div class="form-floating m-1  ">
                    <input type="number" for="floatingPlaintextInput"class="form-control rounded-0" id="floating10"
                           name="guardian_contact_number" required>
                    <label for="floating10"  >Contact</label>
                </div>
                <div class="col-auto mt-5 p-4 border">
                    <div class="row">
                        <div class="col ">
                            {{form.is_superuser}}
                            <label class="form-check-label ms-2">
                                <p><strong> Admin Status</strong></p>
                            </label>
                        </div>
                        <div class="col ">
                            <p><em>Designates that this user has all permissions.</em></p>
                        </div>
                    </div>
                </div>
                <button class="form-floating  m-1 mt-4 btn btn-secondary px-5  " form="submit_form" type="submit"
                >Save
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}